@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #d4a574;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-dancing-script {
  font-family: 'Dancing Script', cursive;
}

.font-playfair-display {
  font-family: 'Playfair Display', serif;
}

.font-work-sans {
  font-family: 'Work Sans', sans-serif;
}
